@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: new-order, zen-kaku-gothic-new, sans-serif;
    font-weight: 300;
    font-style: normal;
}

a{
    text-decoration: none;
}

#goal{
    text-align: center;
    font-size: 40px;
}

.goal-main{
    /*width: 100%;*/
    min-width: 1440px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.goal-txt{
    width: 340px;
}

.goal-txt p{
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 1.5px;
}

.goal-txt .goal-title{
    font-size: 20px;
}

#about{
    text-align: center;
    font-size: 40px;
}

.about-main{
    /*width: 100%;*/
    min-width: 1440px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-txt{
    width: 340px;
}

.about-txt p{
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.about-txt .title{
    font-size: 30px;
}

#usage{
    text-align: center;
    font-size: 40px;
}

.usage-txt{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
}

#return{
    margin-top: 300px;
    text-align: center;
    font-size: 40px;
}

.return{
    text-align: center;
    margin-bottom: 200px;
}