@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: new-order, a-otf-gothic-mb101-pr6n, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #6CB7B6;
}

a{
    text-decoration: none;
}

p{
    color: #fff;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.sp-header{
    display: none;
}

.pc-header{
    margin-top: 0;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(105, 179, 134, 0.77);
    align-items: center;
    position: fixed;
    z-index: 1;
}
.pc-header img{
    position: absolute;
    width: 200px;
    height: 80px;
    left: 5px;
    top: -15px;
}
.pc-header a{
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    color: #fff;
}
.pc-header nav{
    margin: 0 0 0 auto;
}
.menu-item{
    list-style: none;
    display: inline-block;
    padding: 0px 30px 0px 30px;
}
.first-view-sp{
        display: none;
}

.first-view{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.first-view h1{

    position: absolute;
    height: 230px;
    left: 40px;
    top: 60px;

    font-family: A-OTF Ryumin Pr6N;
    font-style: normal;
    font-weight: 300;
    font-size: 130px;
    line-height: 260px;
    text-align: center;

    color: #FFFFFF;
}
.first-view ul{
    position: absolute;
    left: 40px;
    top: 700px;
    font-family: A-OTF Ryumin Pr6N;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 100px;
    color: #FFFFFF;
}

.iframe-wrap iframe{
    width:600px;
    height:350px;
}

#phy{
    text-align: center;
    font-size: 40px;
}

.phy-main{
    /*width: 100%;*/
    min-width: 1440px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.phy-txt{
    width: 400px;
}

.phy-txt p{
    font-size: 28px;
    font-weight: 550;
    line-height: 30px;
    letter-spacing: 2px;
}

#goal{
    text-align: center;
    font-size: 40px;
}

.goal-main{
    /*width: 100%;*/
    min-width: 1440px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.goal-txt{
    width: 340px;
}

.goal-txt p{
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 1.5px;
}

.goal-txt .goal-title{
    font-size: 20px;
}

#about{
    text-align: center;
    font-size: 40px;
}

.about-main{
    /*width: 100%;*/
    min-width: 1440px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-txt{
    width: 340px;
}

.about-txt p{
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.about-txt .title{
    font-size: 30px;
}

#usage{
    text-align: center;
    font-size: 40px;
}

.usage-txt{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
}

#return{
    margin-top: 300px;
    text-align: center;
    font-size: 40px;
}

.return{
    text-align: center;
    margin-bottom: 200px;
}

@media screen and (max-width:640px) {
    body{
        max-width: 100%;
    }
    figure,img{
        width: 100%;
        height: auto;
    }
    .first-view{
        display: none;
    }
    .first-view-sp{
        display: block;
    }
    

    .iframe-wrap iframe{
        width: 100%;
        height: auto;
    }
    .svg__container { 
        position: relative;
        width: 100%;
    }
    .svg__content { 
        position: absolute;
    }

    .pc-header{
        display: none;
    }
    .sp-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0 20px;
        position: fixed;
        background: rgba(105, 179, 134, 0.77);
        z-index: 1;
    }
    .sp-header img{
        position: relative;
        width: 180px;
        height: 70px;
        top: -5px;
        left: -20px;
    }
    .drawer-hidden {
        display: none;
    }
    
    .drawer-open {
        display: flex;
        height: 60px;
        width: 60px;
        right: -20px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;
    }
    
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #fff;
        transition: 0.5s;
        position: absolute;
    }
    
    .drawer-open span:before {
        bottom: 8px;
    }
    .drawer-open span:after {
        top: 8px;
    }
    /*ハンバーガーのアニメーション部分*/
    #drawer-check:checked ~ .drawer-open span {
        background: rgba(255, 255, 255, 0);
    }
    #drawer-check:checked ~ .drawer-open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #drawer-check:checked ~ .drawer-open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    /*メニューの中身*/
    .drawer-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 99;
        background: rgba(105, 179, 134, 0.77);
        transition: .5s;
    }
    .drawer-content ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        font-size: 40px;
     }
     .drawer-content li {
        margin: 0;
        padding: 0;
     }
   
     .drawer-content li a, .drawer-content li span {
        display: block;
        padding: 20px 0;
     }
    
  
    #drawer-check:checked ~ .drawer-content {
        left: 0;
    }
    

    #goal{
    text-align: center;
    font-size: 40px;
}

.goal-main{
    /*width: 100%;*/
    margin: auto;
    margin-bottom: 150px;
    min-width: 100%;
    display: block;
    align-items: center;
    justify-content:space-evenly;
}

.goal-txt{
    width: 340px;
    margin: auto;
}

.goal-txt p{
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 1.5px;
}

.goal-txt .goal-title{
    font-size: 20px;
}

#about{
    text-align: center;
    font-size: 40px;
}

.about-main{
    /*width: 100%;*/
    min-width: 100%;
    margin-bottom: 150px;
    display: block;
    align-items: center;
    justify-content: space-evenly;
}

.about-txt{
    margin: auto;
    width: 340px;
}

.about-txt p{
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.about-txt .title{
    font-size: 30px;
}

#usage{
    text-align: center;
    font-size: 40px;
}

.usage-txt{
    margin: auto;
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.title{
    text-align: center;
}

#return{
    margin-top: 300px;
    text-align: center;
    font-size: 40px;
}

.return{
    text-align: center;
    margin-bottom: 200px;
}

}